<aside class="sidebar d-flex flex-column p-3  text-white vh-100 shadow-sm" style="width: 250px;">
  <div class="text-center mb-4">
    <a href="/"> <img src="/images-removebg-preview.png" alt="Logo" class="img-fluid" style="max-height: 80px;"></a>
  </div>
  <nav class="nav flex-column">
    <a href="/user/dashboard-display" class="nav-link text-white mb-2 d-flex align-items-center">
      <i class="fa-solid fa-house me-2"></i> <span>Dashboard</span>
    </a>
    <a href="/user/profile" class="nav-link text-white mb-2 d-flex align-items-center">
      <i class="fa-solid fa-user me-2"></i> <span>Profile</span>
    </a>
    <a href="/user/events" class="nav-link text-white mb-2 d-flex align-items-center">
      <i class="fa-solid fa-calendar-days me-2"></i> <span>Events</span>
    </a>
    <a href="/user/change-password" class="nav-link text-white mb-2 d-flex align-items-center">
      <i class="fa-solid fa-gear me-2"></i> <span>Change Password</span>
    </a>
    <a href="/user/logout" class="nav-link text-white mb-2 d-flex align-items-center">
      <i class="fa-solid fa-right-from-bracket me-2"></i> <span>Logout</span>
    </a>
   <a href="/user/delete/account" class="nav-link text-danger mb-2 d-flex align-items-center">
     <i class="fa-solid fa-trash me-2">   </i>
     <span>Delete Account</span>
    </a>
  </nav>
</aside>
